:root{
    --main-bg-color-dark:black;
    --main-bg-color-light:white;

    --main-text-color-dark:black;
    --main-text-color-light:white;
    --secondary-text-color:#FF0000;
    --hover-text-color:#939393;

    --secondary-bg-color-dark: #474747;

}

*{
    font-family: 'Montserrat';
}
body{
    scroll-behavior: smooth;
}

@media (min-width: 601px){
    #About, #Atelier{
        display: flex;
    }
}



/* Counter */
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}


#counter{
    animation: counter 41s infinite;
    animation-timing-function: linear;
    counter-reset: num var(--num);
}
#counter::after {
    content: counter(num);
}

@keyframes counter {
    0% {
      --num: 0;
    }
    100% {
        --num: 41;
    }
}

@property --millisecond {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

#seconds{
    animation: second 1s infinite;
    animation-timing-function: linear;
    counter-reset: millisecond var(--millisecond);
}
#seconds::after {
    content: counter(millisecond);
}

@keyframes second {
    0% {
        --millisecond: 0;
    }
    100% {
        --millisecond: 100;
    }
}

/* Splide Arrows */

.splide{
    padding: 50px 0;
}

.splide__arrow svg{
    fill: var(--main-text-color-light)
}

.splide__arrow:hover:not(:disabled) svg {
    fill: var(--secondary-text-color);
}