:root{
    --main-bg-color-dark:rgb(20, 19, 22);
    --main-bg-color-light:white;

    --main-text-color-dark:rgb(20, 19, 22);
    --main-text-color-light:white;
    --secondary-text-color:rgb(227, 30, 54);
    --hover-text-color:#939393;

    --secondary-bg-color-dark: #474747;

}

::placeholder{
    color: var(--main-text-color-dark);
    font-weight: 700;
}

::placeholder::before{
    content: "*";
    color: var(--secondary-text-color);
}

*{
    font-family: 'Montserrat', 'Gill Sans';
}
body{
    scroll-behavior: smooth;
}


/* Portfolio Carousel */

.slick-dots li.slick-active button:before{
    opacity: 1;
    color: var(--secondary-text-color);
}

.slick-dots li button:before{
    color: #ccc;
    font-size: 9.5px;
    opacity: 1;
}

.slick-dots li{
    margin: 0;
    width: 15px;
}

.slick-slide > div{
    display: flex;
}


@media (min-width: 801px){
    #About, #Atelier{
        display: flex;
    }
}

h2{
    font-weight: 600;
}

h4{
    font-weight: 600;
}
