:root{
    --main-bg-color-dark:black;
    --main-bg-color-light:white;

    --main-text-color-dark:black;
    --main-text-color-light:white;
    --secondary-text-color:#FF0000;
    --hover-text-color:#939393;

    --secondary-bg-color-dark: #474747;

}

*{
    font-family: 'Montserrat';
}
body{
    scroll-behavior: smooth;
}

@media (min-width: 601px){
    #About, #Atelier{
        display: flex;
    }
}